* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('quizbackground.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgba(214, 195, 138, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#question {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.hidden {
    display: none; 
}

#result {
    margin-top: 20px;
}
#next-btn:hover {
    background-color: #45a049; 
}
#answer-list li button {
    padding: 10px;
    background-color: #ce9fd6;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}
#answer-list li button:hover {
    background-color: #de1616;
}
#answer-list li button.selected {
    background-color: #c05d88; 
    border-color: #131a7f; 
}
